body {
  font-family: Arial;
  background-color: #fff9e6;
  text-align: center;
}

/* NAVBAR */
.navbar {
  list-style: none;
  background-color: #b3e5fc; /* LIGHT BLUE SOFT */
  padding: 12px;
}

.navbar li {
  display: inline;
  margin: 10px;
}

.navbar a {
  text-decoration: none;
  color: white; /* PUTIH */
  font-weight: bold;
}

/* JUDUL */
.judul {
  font-family: Georgia, serif;
  color: #2171B5; /* BIRU */
  font-size: 36px;
}

/* SUBTITLE */
.subtitle {
  color: #2171B5;
}

/* CANVA */
.canva iframe {
  width: 80%;
  height: 400px;
  border: none;
}

/* CONTACT */
.contact {
  margin: 20px auto;
  padding: 15px;
  width: 260px;
  background-color: #e6f7ff;
  border-radius: 15px;
  color: #333;
  font-family: "Courier New", monospace; /* BIAR GA BASIC */
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  margin: 5px 0;
}
