body {
  margin: 0;
  font-family: Arial;
  background: #fff0f5;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: pink;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  margin-top: 100px;
  text-align: center;
}

.title {
  font-size: 40px;
  color: hotpink;
}

.subtitle {
  color: gray;
}
