body {
  margin: 0;
  font-family: "Comic Sans MS", "Arial Rounded MT Bold", cursive;
  background: #fff0f5;
}

/* NAVBAR MATCHA */
.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  background: #8fbf8f; /* matcha */
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* MENU */
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 20px;
  transition: 0.3s;
}

/* HOVER */
.navbar a:hover {
  background: white;
  color: #8fbf8f;
}

/* CONTENT */
.content {
  margin-top: 100px;
  text-align: center;
}

/* JUDUL */
.title {
  font-size: 40px;
  color: #6da06d;
}

.subtitle {
  color: #888;
}
